[Desktop Entry]
Name=hello-egl
Comment=hello-egl
Exec=hello-egl -f
Icon=hello-egl.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
X-Ubuntu-Supported-Orientations=landscape
